<form method="post">
    {% csrf_token %}
    <label>Room:</label>
    {{ form.room }}

    <label>Number of Guests:</label>
    {{ form.number_of_guests }}

    <label for="check_in_date">Check-In Date:</label>
    <input type="date" 
           id="check_in_date" 
           name="check_in_date" 
           min="{{ today }}" required>

    <label for="check_out_date">Check-Out Date:</label>
    <input type="date" 
           id="check_out_date" 
           name="check_out_date"
           min="{{ today }}" required>

    <button type="submit">Submit</button>
</form>
<script>
    const today = new Date().toISOString().split('T')[0];
    
    const checkInDateField = document.getElementById('check_in_date');
    const checkOutDateField = document.getElementById('check_out_date');
    
    checkInDateField.setAttribute("min", today);
    checkOutDateField.setAttribute("min", today);
    
    checkInDateField.addEventListener('change', function() {
        const checkInDate = checkInDateField.value;
        checkOutDateField.setAttribute("min", checkInDate);
    });
</script>
