{% extends "base_generic.html" %}

{% block content %}
<h2>Your Bookings</h2>
<a href="{% url 'booking_create' %}" class="btn btn-primary">Create New Booking</a>
<table class="table table-striped" style="background-color: #fff5e1;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Room</th>
            <th>Guests</th>
            <th>Check-In</th>
            <th>Check-Out</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.id }}</td>
            <td>{{ booking.room }}</td>
            <td>{{ booking.number_of_guests }}</td>
            <td>{{ booking.check_in_date }}</td>
            <td>{{ booking.check_out_date }}</td>
            <td>{{ booking.booking_status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
