<!DOCTYPE html>
<html>
<head>
    <title>Update Admin Profile</title>
</head>
<body>
    <h1>Update Profile</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>
        <div>
            <label for="id_departmentRole">Department Role:</label>
            {{ form.departmentRole }}
        </div>
        <button type="submit">Update Profile</button>
    </form>
    <a href="{% url 'admin_entity:profile' %}">Back to Profile</a>
</body>
</html>
